<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Editar Película</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
      </figure>
    <h1 class="titulo">Película Editada:  <%= Movie.title %></h1>
    <section class="formulario">
        <ul class="errores"></ul>
            <form class="form" action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
                <label for="title">Título </label>
                <small class="is-invalid" id="titleErrors"></small>
                <p><input type="text" name="title" id="title" value="<%= Movie.title %>"></p>
                <label for="rating">Calificación </label>
                <small class="is-invalid" id="ratingErrors"></small>
                <p><input type="number" name="rating" id="rating" value="<%= Movie.rating %>"></p>
                <label for="awards">Premios </label>
                <small class="is-invalid" id="awardsErrors"></small>
                <p><input type="number" name="awards" id="awards" value="<%= Movie.awards %>"></p>
                <label for="release_date">Fecha de creación </label>
                <small class="is-invalid" id="release_dateErrors"></small>
                <p><input type="date" name="release_date" id="release_date" value="<%= Movie.release_date %>"></p>
                <label for="length">Duración </label>
                <small class="is-invalid" id="lengthErrors"></small>
                <p><input type="number" name="length" id="length" value="<%= Movie.length %>"></p>
                <label for="genre_id">Género </label>
                <small class="is-invalid" id="genreErrors"></small>
                <p>
                    <select name="genre_id" id="genre_id">
                        <% allGenres.forEach(genre => { %>
                        <option value="<%= genre.id %>" <% if (Movie.genre.id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                        <% }); %>
                    </select>
                </p>

        <!--
                <label for="genre_id">Genre ID </label>
                <p><input type="number" name="genre_id" id="" value="<%= Movie.genre_id %>"></p>
            -->
                
                <br>
                <p> <button class="botonAgregar" type="submit">Actualizar</button>
            
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
            </form>
        
    </section>
    <script src="/js/moviesEditValidation.js"></script>
</body>

</html>